src/main/mule/cicd-jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="65d2edbd-70e4-47a1-8412-9a09fe333900" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-jenkinsFlow" doc:id="07461169-1ace-4b6d-9eed-a42dbb1c04f8" >
		<http:listener doc:name="Listener" doc:id="85ac6a7c-8053-4030-948e-6b05e01038d3" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="e7874f48-d039-46c9-b05a-562027d3bd9b" message="request received"/>
		<set-payload value='#["success"]' doc:name="Set Payload" doc:id="1a444f5d-8b3a-4b77-b905-ce2d4fb915fc" />
		<logger level="INFO" doc:name="Logger" doc:id="f3fb822b-933d-47a9-b655-9d10ffa3d6f9" />
	</flow>
</mule>
